\#auto_saved_files\#
*.lck
_autosave-Nitrox_Board.kicad_sch
Nitrox_Board.kicad_prl
Nitrox_Board.kicad_pro
Nitrox_Board.kicad_prl
fp-info-cache
Nitrox_Board.kicad_prl
GerberFiles/Nitrox Analyzer With CO Sensor.7z
GerberFiles/With CO Sensor/Nitrox_Board-job.gbrjob
